body{
    background-color: #0fe6e6;
    padding-bottom: 8px;
}

h1{
    background-color: #427eee9c;
}
.p1{
    background-color: grey;
    padding-bottom: 7px;
}
.p2{
    background-color: grey;
    padding-bottom: 7px;
}