.navbar{
    padding: 0rem 1rem !important;
}
.nav-link{
    padding: 1rem 1rem !important;
    
}
.nav-link:hover{
    background-color: #ffa500 !important; 
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.7s;
}

.navbar-dark .navbar-brand:hover {
    color: #ffa500 !important;
}
